

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My first view</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
  <body>


    <div id="top">
        <div class="inner">
            <div class="sname">Rebecca Hall GIFs</div>


<h2>
  Cities Traveled for
  <%= name %>
</h2>

     <% if (age >= 21) { %>
       <p>Which mean they can have some whisky.</p>
    <% } else {   %>
      <p>Which mean they can have some root beer.</p>
  <%   }   %>


  <ul>
    <% cities.forEach((oneCity) => { %>
      <li>
    <%= oneCity %>
     </li>
    <% }) %>
    </ul>

            <input type="checkbox" id="show-menu" role="button">
            <ul id="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/press-library">Press Library</a></li>
                <li><a href="/gallery">Favorite GIFs</a></li>
            </ul>
        </div>
    </div>


    <div id="header">
      <img src="https://media3.giphy.com/media/3FX7QKt24Asa4/giphy.gif" />
      <img src="https://media0.giphy.com/media/8dXkAK2aXE9G0/giphy.gif" />
      <img src="https://media1.giphy.com/media/l2JI5fZpiYi10lsbK/giphy.gif"/>
    </div>


    <div id="header">
      <img src="https://media2.giphy.com/media/CTxpsouEZCHSw/200.webp#2" alt="Trolltunga Norway" width="500" height="200">
      <img src="https://media4.giphy.com/media/13Tk7mk7JRmjwQ/200.webp#1" alt="Forest" width="500" height="400">
      <img src="https://media2.giphy.com/media/Jm5bpX7O7QGDm/200.webp#16" alt="Northern Lights" width="500" height="400">
    </div>




<div class="gallery">
    <img src="https://media4.giphy.com/media/a3LmGeI0tR8YM/200.webp#34" alt="Mountains" width="500" height="400">
</div>

<div class="gallery">
    <img src="https://media2.giphy.com/media/13H1H2xotyEybe/200.webp#39" alt="Trolltunga Norway" width="300" height="200">
</div>

<div class="gallery">
    <img src="https://media2.giphy.com/media/uqBKVag16fCzC/200.webp#43" alt="Forest" width="600" height="400">
</div>

<div class="gallery">
    <img src="https://media0.giphy.com/media/DTk4nQC1bnkhW/200.webp#53" alt="Northern Lights" width="600" height="400">
</div>

<div class="gallery">
    <img src="https://media2.giphy.com/media/UBmpiv0BvvPi/200.webp#63" alt="Mountains" width="600" height="400">
</div>

<div class="gallery">
  <a target="_blank" href="img_fjords.jpg">
    <img src="https://media3.giphy.com/media/uCekr2oq6C73W/200.webp#59" alt="Trolltunga Norway" width="300" height="200">
  </a>
</div>

<div class="gallery">
    <img src="https://media4.giphy.com/media/13VHBowuX4cv28/200.webp#61" alt="Forest" width="600" height="400">
</div>

<div class="gallery">
    <img src="https://media1.giphy.com/media/lLuz6Kf0Q53gY/200.webp#60" alt="Northern Lights" width="600" height="400">
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="https://media1.giphy.com/media/10THJmhT8dqfza/200.webp#58" alt="Mountains" width="600" height="400">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_fjords.jpg">
    <img src="https://media4.giphy.com/media/urT3YzUecn09a/200.webp#67" alt="Trolltunga Norway" width="300" height="200">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="img_forest.jpg">
    <img src="https://media4.giphy.com/media/CU2aXquMGzw64/200.webp#62" alt="Forest" width="600" height="400">
  </a>
</div>

<div class="gallery">
    <img src="https://media0.giphy.com/media/UeIDcBoX73mWA/200.webp#79" alt="Northern Lights" width="600" height="400">
</div>

<div class="gallery">
    <img src="https://media2.giphy.com/media/JI7pWGysyiipq/200.webp#85" alt="Mountains" width="600" height="400">
</div>

      </div>




</div>




</body>
</html>
