

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My first view</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
  <body>


    <h3>Counting to 20</h3>

    <% for (let i =1; i<= 20; i+=1) { %>
     #<%= i %>
    <% } %>



    <div id="top">
        <div class="inner">
            <div class="sname">Rebecca Hall GIFs</div>
            <label for="show-menu" class="show-menu"><font class="fa fa-bars" aria-hidden="true"></font></label>
            <input type="checkbox" id="show-menu" role="button">
            <ul id="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/press-library">Press Library</a></li>
                <li><a href="/gallery">Favorite GIFs</a></li>
            </ul>
        </div>
    </div>


    <div id="header">
      <img src="https://media3.giphy.com/media/3FX7QKt24Asa4/giphy.gif" />
      <img src="https://media0.giphy.com/media/8dXkAK2aXE9G0/giphy.gif" />
      <img src="https://media1.giphy.com/media/l2JI5fZpiYi10lsbK/giphy.gif"/>


    </div>

    <div id="wrapper">
      <h2>Recent Activity:</h2>
        <div class="container">
<div class="entry">

    <div class="post">

      <h3>SAG-AFTRA Conversations with Rebecca Hall </h3>

        <p>If you have some time to spare (the interview is almost an hour!), then please do make sure to watch this brilliant video of Rebecca from <strong>SAG-AFTRA Foundation’s Career Retrospective</strong> from a couple of weeks ago. Rebecca discusses her roles in <em>The Prestige</em>, <em>Vicky Cristina Barcelona</em>, <em>The Town</em>, <em>Please Give</em>, <em>The Gift</em> and of course, her most recent work as Christine Chubbuck.</p>
<left><iframe width="640" height="345" src="https://www.youtube.com/embed/OEhFUmgK89U" frameborder="0" allowfullscreen=""></iframe></left>

      </div>




</div>
<div id="sidebar">

    <div class="sidebar">
        <div class="title"><span>Who is Rebbeca?</span></div>
<img class="alignleft" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Rebecca_Hall_at_Sundance_Festival_2016.jpg/220px-Rebecca_Hall_at_Sundance_Festival_2016.jpg" width="115">
<p>
Rebecca Maria Hall (born 3 May 1982) is an English-American actress. In 2003, she won the Ian Charleson Award for her debut stage performance in a production of Mrs. Warren's Profession.She has appeared in the films The Prestige, Vicky Cristina Barcelona (for which she was nominated for a Golden Globe), The Town, The Awakening, Frost/Nixon, Iron Man 3, Transcendence, and The Gift. In 2016, Hall portrayed the troubled news anchor Christine Chubbuck in the critically acclaimed drama Christine.
In June 2010, Hall won the Supporting Actress BAFTA for her portrayal of Paula Garland in the 2009 Channel 4 production Red Riding: In the Year of Our Lord 1974. She was also nominated for the Leading Actress Television BAFTA in 2013 for her role as socialite Sylvia Tietjens in BBC Two's Parade's End, opposite Benedict Cumberbatch.
</p>
    </div>

<div class="sidebar">
        <div class="title"><span>Featured GIF</span></div>
<center><img src="http://rebecca-hall.com/images/1.gif" width="275"></center>
    </div>

</div>



</div><div id="topcontrol" title="Scroll Back to Top" style="position: fixed; bottom: 5px; right: 5px; opacity: 0; cursor: pointer;"><div class="scrolltop"></div></div><div id="window-resizer-tooltip" style="display: none;"><a href="#" title="Edit settings"></a><span class="tooltipTitle">Window size: </span><span class="tooltipWidth" id="winWidth">1855</span> x <span class="tooltipHeight" id="winHeight">1056</span><br><span class="tooltipTitle">Viewport size: </span><span class="tooltipWidth" id="vpWidth">1235</span> x <span class="tooltipHeight" id="vpHeight">990</span></div></body>


</body>
</html>
