

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My first view</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
  <body>

    <div class="social-icons">
    <ul>
        <li>
            <a href="http://twitter.com/rebeccahallcom" class="fa fa-twitter"></a>
        </li>
        <li>
            <a class="bookmark" href="javascript:void" id="bookmark2"><span class="fa fa-heart"></span></a>
        </li>
        <li>
            <a href="http://rebecca-hall.com/contact" class="fa fa-envelope"></a>
        </li>
        <li>
            <a href="http://rebecca-hall.com/feed" class="fa fa-rss"></a>
        </li>
    </ul>
</div>
    <div id="top">
        <div class="inner">
            <div class="sname">Rebecca Hall GIFs</div>
            <label for="show-menu" class="show-menu"><font class="fa fa-bars" aria-hidden="true"></font></label>
            <input type="checkbox" id="show-menu" role="button">
            <ul id="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/press-library">Press Library</a></li>
                <li><a href="/gallery">Favorite GIFs</a></li>
            </ul>
        </div>
    </div>


    <div id="header">
      <img src="https://media3.giphy.com/media/3FX7QKt24Asa4/giphy.gif" />
      <img src="https://media0.giphy.com/media/8dXkAK2aXE9G0/giphy.gif" />
      <img src="https://media1.giphy.com/media/l2JI5fZpiYi10lsbK/giphy.gif"/>


    </div>

    <div id="wrapper">
        <div class="container">
<div class="entry">

  <div class="post">
      <div class="page-title">
          Press Library        </div>
      <div class="page-info">
          <ul id="breadcrumbs"><li><a href="/">Home</a></li><li class="separator"> / </li><li><strong>Press Library</strong></li></ul>        </div>
      <center>
          <div class="post-border"></div>
      </center>

      <p><img class="alignleft" src="http://rebecca-hall.com/photos/albums/uploads/Photoshoots%20and%20Portraits/Sessions/2010s/2016/Cannes%20Film%20Festival%20-%20Fabrizio%20Maltese/002.jpg" width="220"></p>
<p>Welcome to the <strong>Rebecca Hall Online</strong> press archives, where you’ll find online articles, interviews and magazine features of Rebecca from throughout her career. We aim to make this section as complete a resource as you’d hope to find, so if you have any articles that we may be missing, be sure to contact us so we can add it in. The archives will be updated as often as possible, allowing fans to have a reliable way of keeping track of Rebecca’s latest interviews. </p>
<p><u>Magazine and Press Articles from 2016</u><br>
2016/10: <a href="/rebecca-hall-pulls-the-trigger/">Rebecca Hall Pulls the Trigger – Anthem Magazine</a><br>
2016/10: <a href="/rebecca-hall-on-humanizing-a-televised-suicide">Rebecca Hall on humanizing a televised suicide – A.V. Club</a><br>
2016/10: <a href="/rebecca-hall-and-the-makers-of-christine-explore-a-real-life-tragedy">Rebecca Hall and the makers of ‘Christine’ explore a real-life tragedy – Los Angeles Times</a><br>
2016/10: <a href="/when-rebecca-hall-first-got-this-script-she-hid-it">When Rebecca Hall First Got This Script, She Hid It – New York Times</a><br>
2016/10: <a href="/rebecca-hall-on-playing-christine-chubbuck">Rebecca Hall on Playing Christine Chubbuck – Newsweek</a><br>
2016/10: <a href="/rebecca-hall-explains-why-christine-was-the-most-difficult-role-of-her-life">Rebecca Hall Explains Why ‘Christine’ Was The Most Difficult Role Of Her Life – NYLON</a><br>
2016/10: <a href="/rebecca-hall-on-starring-in-christine-its-about-her-life-not-her-death">Rebecca Hall on starring in Christine: ‘It’s about her life – not her death’ – The Guardian</a><br>
2016/10: <a href="/rebecca-hall-on-the-humanity-of-christine-chubbuck">Rebecca Hall on the Humanity of Christine Chubbuck – W Magazine</a><br>
2016/09: <a href="/the-good-fight">The Good Fight – The Edit</a><br>
2016/07: <a href="/i-was-born-in-the-wrong-place-and-at-the-wrong-time">‘I was born in the wrong place and at the wrong time’ – The Guardian</a><br>
2016/06: <a href="/acting-and-being">Acting and being – TANK</a><br>
2016/05: <a href="http://rebecca-hall.com/press-library/stars-of-sundance-rebecca-hall/">Stars of Sundance: Rebecca Hall – V Magazine</a><br>
2016/01: <a href="/rebecca-hall-and-michael-c-hall-on-their-sundance-suicide-movie-christine">Rebecca Hall and Michael C. Hall on Their Sundance Suicide Movie Christine – Vulture</a></p>
<p><u>Magazine and Press Articles from 2015</u><br>
2015/08: <a href="/press-library/the-roles-of-rebecca-hall">The Roles of Rebecca Hall – Interview</a><br>
2015/08: <a href="/dont-be-surprised-if-rebecca-hall-seems-to-suddenly-turn-into-an-american">Don’t Be Surprised if Rebecca Hall Seems to Suddenly Turn into an American – Vanity Fair</a><br>
2015/07: <a href="/rebecca-hall-on-whole-foods-woody-allen-why-benedict-cumberbatch-is-the-new-potato">Rebecca Hall On Whole Foods, Woody Allen &amp; Why Benedict Cumberbatch is The New Potato – The New Potato</a></p>
<p><u>Magazine and Press Articles from 2014</u><br>
2014/04: <a href="http://rebecca-hall.com/press-library/the-interview-rebecca-hall/">The Interview: Rebecca Hall – HUNGER</a><br>
2014/02: <a href="http://rebecca-hall.com/press-library/rebecca-hall-on-the-message-of-machinal/">Rebecca Hall on the Message of ‘Machinal’ – Gotham Magazine</a><br>
2014/02: <a href="/press-library/muse-material/">Muse Material – NUVO </a><br>
2014/02: <a href="/rebecca-hall-on-acting">Rebecca Hall on acting – Crash Magazine</a><br>
2014/01: <a href="/rebecca-halls-invisible-mechanics-in-broadways-machinal-2">Rebecca Hall’s Invisible Mechanics in Broadway’s ‘Machinal’ – Backstage</a><br>
2014/01: <a href="/condemned-to-broadway/">Condemned—To Broadway – New York Observer</a><br>
2014/01: <a href="/what-brought-her-here">What Brought Her Here – Wall Street Journal</a></p>
<p><u>Magazine and Press Articles from 2013</u><br>
2013/11: <a href="/around-the-world-with-rebecca-hall/">Around the world with Rebecca Hall – Condé Nast Traveler</a><br>
2013/10: <a href="meet-rebecca-hall-youll-like-her">Meet Rebecca Hall: You’ll Like Her – Sunday Times Style</a><br>
2013/08: <a href="/rebecca-hall-talks-the-real-world-implications-of-closed-circuit/">Rebecca Hall Talks The Real World Implications Of ‘Closed Circuit’ – The Playlist</a><br>
2013/08: <a href="/finding-new-thrills-in-the-family-business">Finding New Thrills In The Family Business – NPR</a><br>
2013/08: <a href="/closed-circuit-dynamic-intrigues-rebecca-hall">‘Closed Circuit’ dynamic intrigues Rebecca Hall – Chicago Sun-Times</a><br>
2013/06: <a href="/hall-of-fame">Hall of Fame – ELLE Canada</a><br>
2013/05: <a href="/iron-lady-rebecca-hall">Iron Lady: Rebecca Hall – GQ</a><br>
2013/04: <a href="/rebecca-hall-fashion-isnt-superficial">Rebecca Hall: Fashion Isn’t Superficial – Vogue UK</a><br>
2013/04: <a href="/iron-man-3-rebecca-hall-interview">Iron Man 3: Rebecca Hall Interview – The Telegraph</a><br>
2013/01: <a href="/startlet-for-a-new-age">Starlet for a New Age – Wall Street Journal</a></p>
<p><u>Magazine and Press Articles from 2012</u><br>
2012/08: <a href="/rebecca-hall-is-transcontinental">Rebecca Hall is Transcontinental – Interview</a><br>
2012/06: <a href="/iron-man-3-rebecca-hall-interview">This Year’s Girl – Stylist Magazine</a></p>
<p><u>Magazine and Press Articles from 2011</u><br>
2011/11: <a href="/rebecca-halls-awakening">Rebecca Hall’s Awakening – Radio Times</a><br>
2011/11: <a href="/gqa-rebecca-hall">GQ&amp;A: Rebecca Hall – GQ</a><br>
2011/02: <a href="/mad-about-the-girl">Mad about the Girl – Harpers Bazaar UK</a></p>
<p><u>Magazine and Press Articles from 2010</u><br>
2010/10: <a href="/field-day">Field Day – InStyle UK</a><br>
2010/09: <a href="/rebecca-hall-on-crying-screaming-and-going-crazy">Rebecca Hall on Crying, Screaming, and Going Crazy – Vanity Fair</a><br>
2010/09: <a href="/off-and-running-around-the-world">Off and Running Around the World – New York Times</a><br>
2010/08: <a href="/talk-of-the-town">Talk of The Town – W Magazine</a><br>
2010/06: <a href="/who-me-why-everyone-is-talking-about-rebecca-hall">Who, me? Why everyone is talking about Rebecca Hall – Guardian Weekend</a><br>
2010/04: <a href="/screen-giant">Screen Giant – T Magazine</a><br>
2010/03: <a href="/need-to-meet-rebecca-hall">Need to Meet: Rebecca Hall – Marie Claire</a>
</p><p><u>Magazine and Press Articles from 2009</u><br>
2009/10: <a href="/foot-loose">Foot Loose – Dazed &amp; Confused</a><br>
2009/03: <a href="/woodys-new-woman">Woody’s New Woman – GQ</a><br>
2009/03: <a href="/rebecca-hall">Rebecca Hall – Flaunt Magazine</a><br>
2009/02: <a href="/i-was-worried-everyone-would-hate-me">“I was worried everyone would hate me” – The Guardian</a></p>
<p><u>Magazine and Press Articles from 2008</u><br>
2008/12: <a href="/the-actress-rebecca-hall">The actress: Rebecca Hall – The Independent</a><br>
2008/12: <a href="/hall-of-fame-rebecca-hall">Hall of fame: Rebecca Hall – The Telegraph</a><br>
2008/10: <a href="/10-actors-to-watch">10 Actors to Watch – Variety</a><br>
2008/08: <a href="/rebecca-hall-chats-about-being-vicky-in-barcelona">Rebecca Hall chats about being Vicky in ‘Barcelona’ – USA Today</a></p>

          </div>




</div>
<div id="sidebar">

    <div class="sidebar">
        <div class="title"><span>Who is Rebbeca?</span></div>
<img class="alignleft" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Rebecca_Hall_at_Sundance_Festival_2016.jpg/220px-Rebecca_Hall_at_Sundance_Festival_2016.jpg" width="115">
<p>
Rebecca Maria Hall (born 3 May 1982) is an English-American actress. In 2003, she won the Ian Charleson Award for her debut stage performance in a production of Mrs. Warren's Profession.She has appeared in the films The Prestige, Vicky Cristina Barcelona (for which she was nominated for a Golden Globe), The Town, The Awakening, Frost/Nixon, Iron Man 3, Transcendence, and The Gift. In 2016, Hall portrayed the troubled news anchor Christine Chubbuck in the critically acclaimed drama Christine.
In June 2010, Hall won the Supporting Actress BAFTA for her portrayal of Paula Garland in the 2009 Channel 4 production Red Riding: In the Year of Our Lord 1974. She was also nominated for the Leading Actress Television BAFTA in 2013 for her role as socialite Sylvia Tietjens in BBC Two's Parade's End, opposite Benedict Cumberbatch.
</p>
    </div>

<div class="sidebar">
        <div class="title"><span>Featured GIF</span></div>
<center><img src="http://rebecca-hall.com/images/1.gif" width="275"></center>
    </div>

</div>



</div><div id="topcontrol" title="Scroll Back to Top" style="position: fixed; bottom: 5px; right: 5px; opacity: 0; cursor: pointer;"><div class="scrolltop"></div></div><div id="window-resizer-tooltip" style="display: none;"><a href="#" title="Edit settings"></a><span class="tooltipTitle">Window size: </span><span class="tooltipWidth" id="winWidth">1855</span> x <span class="tooltipHeight" id="winHeight">1056</span><br><span class="tooltipTitle">Viewport size: </span><span class="tooltipWidth" id="vpWidth">1235</span> x <span class="tooltipHeight" id="vpHeight">990</span></div></body>
</body>
</html>
