
/* ------------------------BODY------------------------- */
body {
	background-color: #ffffff;
	font-size: 9pt;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-align: justify;
	color: #444444;
	height: 100%;
	margin: 0px;
	padding: 0px;
	line-height: 1.9;
}

/* -------------------------LINKS------------------------- */
a:link, a:visited, a:active {
	color: #acbfaf;
	text-decoration: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

a:hover {
	color: #9ebd8e;
	text-decoration: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

/* -------------------------CUSTOM------------------------- */
b, strong {
	color: #222222;
}

i, em {
	color: #9ebd8e;
        font-family: 'Georgia', sans-serif;
        font-weight: 400;
	font-size: 12px;
}

u, ins {
	text-decoration: underline;
}

hr {
	width: 100%;
	border-top: 1px solid #eeeeee;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	margin-bottom: 7px;
	margin-top: 7px;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
	background-color: #eeeeee;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #222222;
}

::selection {
	background: #ddffe9;
	text-shadow: 0px 0px 0px;
}

::-moz-selection {
	background: #ddffe9;
	text-shadow: 0px 0px 0px;
}

#breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
}

#breadcrumbs li {
	display: inline-block;
	border: 0px;
}

#breadcrumbs li:hover {
	opacity: 1;
}
#header {
    padding-top: 3em;
}
#latest img {
	height: 80px;
}

embed, iframe, object, video {
	max-width: 100%;
}
/* -------------------------HEADER------------------------- */
ul#navigation > li > a {
    font-size: 28px;
    background: rgba(179,220,237,1);
    padding: 1em;
    border-radius: 4%;
}
ul#navigation > li > a:hover {
    font-size: 22px;
    background-color: white;
    padding: 1em;
    border-radius: 6%;
}
#header {
    margin: 0 auto;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-image: url(images/header.png);
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
}

#top {
	margin: 0 auto;
	width: 100%;
}

#top .inner {
	margin: 0 auto;
	text-align: center;
	width: 1080px;
	padding: 20px 0px 10px 0px;
}

#top .sname {
	font-size: 23pt;
	font-weight: 400;
	font-family: 'Over the Rainbow', cursive;
}

#top .inner span {
	font-family: times;
	font-size: 8px;
	letter-spacing: 0.3em;
	text-transform: uppercase;
}

.social-icons {
	overflow: hidden;
	position: fixed;
	font-size: 10px;
	right: 0;
	width: 50px;
	bottom: 170px;
	padding: 0 !important;
	margin-bottom: 0 !important;
	border-bottom: 0 !important;
}

.social-icons ul {
	margin: 0;
	padding: 0;
}

.social-icons ul li {
	background: none !important;
	border: none !important;
	list-style-type: none !important;
	margin: 0 6px 20px !important;
	padding: 0 !important;
}

.social-icons ul li a {
	color: #222222;
	border: none !important;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	display: inline-block;
	font-style: normal !important;
	font-variant: normal !important;
	font-weight: normal !important;
	line-height: 1em;
	speak: none;
	text-align: center;
	text-decoration: none !important;
	text-transform: none !important;
	width: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.social-icons ul.aligncenter {
	text-align: center;
}

.social-icons ul.aligncenter li {
	display: inline-block;
	float: none;
}

/* -------------------------NAVIGATION------------------------- */
ul#navigation {
	list-style: none;
	padding: 20px 0px 0px 0px;
	border-top: #f1f1f1 1px solid;
}

ul#navigation li {
	display: inline-block;
}

ul#navigation li a {
    color: #222222;
    font-size: 18px;
    margin: 1em;
    padding-bottom: 5px;
    letter-spacing: 3px;
    text-transform: lowercase;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 15px;
    text-transform: uppercase;
}

ul#navigation li a:hover {
	color: #222222;
	margin: 0px 10px;
}

.show-menu {
	text-decoration: none;
	color: #222222;
	background: #f1f1f1;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox] {
	display: none;
	-webkit-appearance: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #navigation {
	display: block;
}


/* -------------------------CONTENT------------------------- */
#wrapper {
	height: 100%;
	width: 1140px;
	overflow: hidden;
	margin: 0 auto;
}

.container {
	overflow: hidden;
	margin: 0 auto;
	padding-bottom: 40px;
	padding-top: 30px;
}

.entry {
	width: 760px;
	max-width: 100%;
	float: left;
}

.post {
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 0px 0px 15px 0px;
}

.post .title {
	font-size: 20px;
	text-align: left;
	font-weight: 500;
	text-transform: uppercase;
}

.post .title a {
	color: #222222;
	line-height: 30px;
}

.post-date {
	font-family: 'Abril Fatface', cursive;
	font-size: 25px;
	color: #212121;
}

.post-info {
	padding: 5px 0px 10px 0px;
	text-transform: lowercase;
	letter-spacing: 0.2em;
	font-size: 8px;
	font-weight: normal;
	margin-bottom: 10px;
	color: #222222;
}

.post-info a {
	color: #222222;
}

.post-cat {
	margin: 30px 0px 5px 0px;
	font-size: 9px;
	text-transform: uppercase;
	color: #222222;
	letter-spacing: 0.2em;
}

.post-cat a {
	color: #8e8e8e;
	text-decoration: none;
	letter-spacing: 0.1em;
}

.post-cat a:hover {
	color: #222222;
}

.post ul {
	list-style-type: none;
	padding: 0px;
}

.post li {
	padding: 10px;
	list-style-type: none;
	margin-bottom: 3px;
	border-bottom: 1px solid #f1f1f1;
}

.post li:hover {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.post img, .post img a {
	margin: 3px;
	opacity: 1;
	border: 1px solid #e3e1d6;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.11);
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.11);
}

.post img:hover, .post img a:hover, .post a img:hover {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	opacity: 0.9;
}

.post blockquote {
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 40px;
	-webkit-margin-end: 40px;
	padding: 5px 20px;
	line-height: 2.1em;
	letter-spacing: .75px;
	font-style: italic;
}

.more {
	padding-top: 10px;
	text-align: left;
	padding-bottom: 10px;
}

.more a {
	font-size: 8px;
	color: #222222;
	padding: 10px;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	font-weight: 400;
	border: 1px solid #bcbcbc;
}

.more a:hover {
	padding: 10px;
	border: 1px solid #222222;
	background: #222222;
	color: #ffffff;
}

.post-prevnext {
	font-size: 13px;
	font-weight: 700;
	padding: 10px;
	border: #bcbcbc 1px solid;
	text-transform: uppercase;
}

.post-prevnext a {
	font-size: 10px;
	font-weight: 400;
	letter-spacing: 0.1em;
	text-transform: lowercase;
}

.post-prevnext span {
	text-align: right;
	float: right;
}

.featured img {
	border: 0px!important;
	background: #transparent!important;
	padding: 0px!important;
	border-radius: 0px!important;
	margin-bottom: 10px;
	min-width: 720px;
	min-height: 300px;
	width: 720px;
	margin: 0px;
	height: auto;
	box-shadow: 0px 0px 0px 0px;
	opacity: 1;
}

.featured img:hover {
	opacity: 1;
}

.featured-crop {
	max-width: 720px;
	max-height: 300px;
	overflow: hidden;
	display: block;
	margin-bottom: 10px;
	position: relative;
	z-index: 0;
}

.gallery {
    width: 300px;
    margin: 0px !important;
    padding: 0px;
    display: inline-block;
}

.gallery b, .gallery strong {
	padding: 3px;
    	background: #eee;
    	font-size: 9pt;
    	text-transform: uppercase;
}


/* -------------------------PAGES------------------------- */
.page-title {
	font-size: 20px;
	text-align: center;
	font-weight: 500;
	color: #222222;
	text-transform: uppercase;
}

.page-info {
	text-transform: lowercase;
	letter-spacing: 0.2em;
	font-size: 8px;
	text-align: center;
	font-weight: normal;
	color: #222222;
}

/* -------------------------SIDEBAR------------------------- */
#sidebar {
	width: 330px;
	float: right;
}

.sidebar {
	padding: 15px;
	margin-bottom: 35px;
	border: #bcbcbc 1px solid;
}

#sidebar .title {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-align: center;
	color: #222222;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0.2em;
	position: relative;
	margin-top: -26px;
	margin-bottom: 15px;
}

#sidebar .title span {
	background: #ffffff;
	padding: 15px;
}

.sidebar img {
	margin: 2px;
        align: center;
	opacity: 1;
	border: 1px solid #e3e1d6;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.11);
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.11);
}

.sidebar img:hover {
	opacity: 0.9;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.sidebar ul {
	list-style: None;
	margin: 0px;
	padding: 0px;
}

.sidebar li {
	list-style: None;
	padding: 5px;
	text-align: left;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.sidebar li:hover {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#projects strong, #projects b {
	font-size: 13px;
}

#projects a {
	text-align: center;
	color: #222222;
	font-family: times;
	font-size: 8px;
	letter-spacing: 0.3em;
	text-transform: uppercase;
}
/* -------------------------COMMENTS------------------------- */
.comments-date, .comments-date a {
	text-align: left;
}

.comments-title {
	font-weight: 700;
	text-transform: capitalize;
	font-size: 16px;
}

/* -------------------------FOOTER------------------------- */
#footer {
	clear: both;
	z-index: 999;
	width: 100%;
	margin: 0 auto;
	padding: 28px 0px 20px 0px;
	overflow: hidden;
}

#footer .inner {
	margin: 0 auto;
	width: 1080px;
}

#footer a {
	margin: 0 5px;
	color: #222222;
	letter-spacing: 2px;
}

#footer a:hover {
	margin: 0 5px;
}

#footer .copyright {
	text-align: center;
}

#footer .copyright a {
	font-weight: 700;
}

#footer .sname {
	font-size: 16pt;
	font-weight: 400;
	font-family: 'Over the Rainbow', cursive;
	text-align: center;
}

/* -------------------------SCROLLTOP------------------------- */
.scrolltop {
	background: url(images/scrolltop.png) no-repeat top center;
	width: 40px;
	height: 40px;
	position: relative;
	z-index: 999;
	bottom: 30px;
	right: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	opacity: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.scrolltop:hover {
	opacity: 0.5;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

/* -------------------------WP-PAGENAVI------------------------- */
.wp-pagenavi {
	clear: both;
	margin-top: 10px;
	padding: 10px;
	text-align: left;
	font-family: 'Abril Fatface', cursive;
}

.wp-pagenavi a, .wp-pagenavi span {
	display: inline-block;
	min-width: 20px;
	height: 0px;
	padding: 10px 15px;
	line-height: 25px;
	margin-right: 10px;
	text-align: center;
	background: #F1F1F1;
	color: #222222;
}

.wp-pagenavi a:hover {
	height: 0px;
	color: #222222;
	background: #9ebd8e;
}

.wp-pagenavi span.current {
	padding: 10px 15px;
	font-weight: 700;
}


/* -------------------------RESPONSIVE------------------------- */
@media only screen and (max-width: 1024px) {
	#wrapper {
		max-width: 90%;
		width: 90%;
	}

	#top .inner {
		width: 90%;
	}

	#header {
		display: none;
	}

	ul#navigation {
		position: static;
		display: none;
	}

	ul#navigation li {
		margin-bottom: 1px;
	}

	ul#navigation li, #navigation li a {
		width: 100%;
	}

	.show-menu {
		display: block;
		margin-top: 10px;
	}

	.container {
		width: 100%;
		max-width: 100%;
	}

	.entry {
		float: none;
		width: 100%;
	}

	.post {
		padding: 0px;
		margin: 0 auto;
	}

	.featured img {
		display: none;
	}

	.social-icons {
		display: none;
	}

	#sidebar {
		float: none;
		margin: 35px auto 0 !important;
		display: block;
		width: 100% !important;
	}

	#footer {
		width: 100%;
		max-width: 100%;
	}

	#footer .inner {
		max-width: 90%;
	};
}

@media only screen and (max-width: 800px) {
	#wrapper {
		max-width: 90%;
		width: 90%;
	}

	#top .inner {
		width: 90%;
	}

	#header {
		display: none;
	}

	ul#navigation {
		position: static;
		display: none;
	}

	ul#navigation li {
		margin-bottom: 1px;
	}

	ul#navigation li, #navigation li a {
		width: 100%;
	}

	.show-menu {
		display: block;
		margin-top: 10px;
	}

	.container {
		width: 100%;
		max-width: 100%;
	}

	.entry {
		float: none;
		width: 100%;
	}

	.post {
		padding: 0px;
		margin: 0 auto;
	}

	.featured img {
		display: none;
	}

	.social-icons {
		display: none;
	}

	#sidebar {
		float: none;
		margin: 35px auto 0 !important;
		display: block;
		width: 100% !important;
	}

	#footer {
		width: 100%;
		max-width: 100%;
	}

	#footer .inner {
		max-width: 90%;
	};
}

img.alignright {float:right; margin: 0.3em 0 2em 2em;}
img.alignleft {float:left; margin: 0.3em 2em 2em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto;}
.alignright {float:right margin: 0.3em 0 2em 2em; }
.alignleft {float:left;margin: 0.3em 2em 2em 0}
.aligncenter {display: block; margin-left: auto; margin-right: auto;}
