<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> <%= tittle %></title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
  <body>
          <header>
            <div id="top">
                <div class="inner">
                    <div class="sname">Rebecca Hall GIFs</div>
                    <label for="show-menu" class="show-menu"><font class="fa fa-bars" aria-hidden="true"></font></label>
                    <input type="checkbox" id="show-menu" role="button">
                    <ul id="navigation">
                        <li><a href="/">Home</a></li>
                        <li><a href="/press-library">Press Library</a></li>
                        <li><a href="/gallery">Favorite GIFs</a></li>
                        <li><a href="/foods">Foods</a></li>
                        <li><a href="/cities">Cities</a></li>
                        <li><a href="/counting-views">Counting Views</a></li>


                    </ul>
                </div>
            </div>
          </header>
<%- body -%>

    <footer>
      <pre>
        Made by Alejandro Jimenez
      </pre>
    </footer>
  </body>
  </html>
